.section__localizacao {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(11, 1fr);
    height: 100vh;
    box-shadow: rgb(38, 57, 77) 0px -20px 30px -10px inset;
}
.container__localizacao {
    grid-row-start: 4;
    grid-column-start: 4;
}