.container__profissionais {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 5rem;
    height: 120vh;
    background-color: var(--color-exam__list__item);  
}

.titulo__profissional {
    border-bottom: 2px solid var(--first-color-formal);
    margin-bottom: .5rem;
    font: bold 2rem var(--first-font);
    text-align: end;
}
