.container__section__localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 5rem;
    height: 130vh;
    background-color: var(--color-exam__list__item);

}

.container__localizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 5rem;
}

.container__localizacao>iframe {
    border-radius: 2rem;
}

.titulo_localizacao {
    border-bottom: 2px solid var(--first-color-formal);
    margin-bottom: .5rem;
    font: bold 2rem var(--first-font);
    text-align: center;
}