@charset "UTF-8";

@import url(/styles/styleProfissionais.css);
@import url(/styles/styleExames.css);
@import url(/styles/styleLocalizacao.css);


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap');


:root {
    --first-color: #3d99ab;
    --second-color: #4b618d;
    --third-color: #8C3A7E;
    --fourth-color: #6f3474;
    --fifth-color: #6c3c64;
    --sixth-color: #000000;
    --seventh-color: #FFFFFF;

    --first-color-formal: #3D99AB;
    --second-color-formal: #D9D9D9;
    --color-exam__list__item: #D9D9D980;

    --first-font: 'Merriweather', 'Playfair Display', serif;
    --second-font: 'Times New Roman', Times, serif;
    --third-font: 'Montserrat', 'Poppins', 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    border-bottom: 5px outset var(--sixth-color);
    color: var(--sixth-color);
    background-color: var(--second-color-formal);

}

.titulo__pagina {
    margin-left: 2.75rem;
    font: bold 3rem var(--first-font);
    color: inherit;
}

.container__navegacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin-right: 2.75rem;
}

.link__navegacao {
    font: bold 1rem var(--first-font);
    font-weight: 400;
    line-height: normal;
    color: inherit;
}

.icones__menu {
    width: 1.25rem;
    height: 1.25rem;
}

.container__folha__rosto {
    display: flex;
    justify-content: space-around;
    height: 85vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: var(--first-color-formal) url(/assets/LogoClinicaStoma.svg) no-repeat 0% 100%/26rem 26rem border-box;
}

.botao__agendar__consulta {
    position: absolute;
    top: 80%;
    left: 70%;
    padding: 1.25rem;
    color: var(--sixth-color);
    font: bold 1rem var(--first-font);
    text-align: center;
    border-radius: 1rem;
    width: 15rem;
    height: 4rem;
    background: #D9D9D9;
    box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.25);
}

.container__footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    height: 60vh;
    background-color: var(--first-color-formal);  
    box-shadow: rgb(38, 57, 77) 0px -20px 30px -10px inset;
    text-align: center;
    color: var(--sixth-color);
}

.titulo__contatos__endereco {
    padding: 2px;
    border-top: 3px solid var(--sixth-color);
    border-bottom: 3px solid var(--sixth-color);
    font: bold 2rem var(--first-font);
    color: inherit;
    text-align: center;
}

.container__lista__contatos__endereco {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.25rem;
}